{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Play Station</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab perferendis minus ea mollitia facilis quos similique voluptates veniam! Voluptatum aperiam explicabo rerum at enim. Libero asperiores minus labore voluptas ea?s
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/playst.jpg" class="img-thumbnail">

    </div>

</div>   

{{> footer }}